.home-tab{
    font-weight: 600;
    background-color: #f4f4f4 !important;
    color: #616161 !important;
    font-size: 15px;
}
.home-tab:hover{
    background-color: #02ab63 !important;
    color: #fff !important;
}
.home-tab:focus{
    background-color: #02ab63 !important;
    color: #fff !important;
}
svg{
    position: relative;
    transform: rotate(0deg);
    height: max-content;
}